// Fonts
@font-face {
    font-family: "DIN Bold";
    src: url("/fonts/D-DIN-Bold.otf") format("opentype");
}

@font-face {
    font-family: "DIN Pro";
    src: url("/fonts/D-DIN.otf") format("opentype");
}
@font-face {
    font-family: "Minion Bold";
    src: url("/fonts/MinionPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Minion Pro";
    src: url("/fonts/MinionPro-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Pe-icon-7-stroke";
    src: url("/fonts/Pe-icon-7-stroke.woff");
}

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'DIN Pro', sans-serif;
$font-family-bold-sans-serif: 'DIN Bold', sans-serif;
$font-family-minion-sans-serif: 'Minion Pro', sans-serif;
$font-family-minion-bold-sans-serif: 'Minion Bold', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: white;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$text-color-1: black;
$text-color-2: blue;
$text-color-3: #3f51b5;
$flat-color-1: #3e3e3e;
$flat-color-2: #333333;
$flat-color-3: #333333;
$flat-color-4: #333333;
$menu-bg: #0D1340;
$menu-active-bg: white;
$menu-active: #0D1340;
$menu-color: white;
//$container-bg: #D3D3D3;
$container-bg: #F2F2F2;
$header-bg: white;
$header-icon: grey;
$search-bg: white;
$active-green: green;
