// CSS for tables

.table:not(.table-bordered) {
  thead {
    border-radius: 5px;

    tr {
      color: $white;
      background-color: $blue;

      th {
        &:first-child{
          border-radius:5px 0 0 0;
        }
        &:last-child{
          border-radius: 0 5px 0 0;
        }
      }

    }
  }
}

.table:not(.table-hover,.table-striped,.table-bordered) {
  tbody {
    tr:last-of-type {
      td,
      th {
        &:first-child {
          border-radius: 0 0 0 5px;
        }
        &:last-child{
          border-radius: 0 0 5px 0;
        }
      }
    }
  }
}

.table.table-bordered {
  thead {
    border-radius: 5px;

    tr {
      color: $white;
      background-color: $blue;
      border: 1px solid $blue;
    }
  }
}
